# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Unity-Programming-Patterns-master.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\Unity-Programming-Patterns-master\.idea\.idea.Unity-Programming-Patterns-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
