# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.command-pattern.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\command-pattern\.idea\.idea.command-pattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
